@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaPro-SemiBold.woff2') format('woff2'), url('../fonts/SofiaPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProRegular.woff2') format('woff2'), url('../fonts/SofiaProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaPro-Light.woff2') format('woff2'), url('../fonts/SofiaPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
