<div class="c-faq-modal">
  <h1 class="c-faq-modal__heading" id="faq-modal-heading">Frequently Asked Questions</h1>

  <dl class="c-faq-modal__entry">
    <dt class="c-faq-modal__question">
      What is Launchpads?
    </dt>
    <dd class="c-faq-modal__answer">
      Launchpads helps to streamline the process by which youth in extended foster care are matched and ultimately
      placed with hosts. This platform was designed in response to the housing and homelessness crisis in San Francisco.
      <a href="https://www.wearelaunchpads.org/" title="More information" target="_blank">Learn more</a>
    </dd>
  </dl>

  <dl class="c-faq-modal__entry">
    <dt class="c-faq-modal__question">
      What are my responsibilities as a host?
    </dt>
    <dd class="c-faq-modal__answer">
      Hosts agree to provide a safe, welcoming environment, and to be respectful, understanding, and supportive.
      This is not a foster parent service.
    </dd>
  </dl>

  <dl class="c-faq-modal__entry">
    <dt class="c-faq-modal__question">
      What can I expect as a host?
    </dt>
    <dd class="c-faq-modal__answer">
      Youth on this platform are legally adults and are expected to operate with some independence. As a host, you are
      not asked to “parent” this young adult or have any particular kind of involvement in their life, though of course
      a relationship may develop over time.
    </dd>
  </dl>

  <dl class="c-faq-modal__entry">
    <dt class="c-faq-modal__question">
      Do I have to list my room as free?
    </dt>
    <dd class="c-faq-modal__answer">
      Launchpads youth receive a monthly stipend of ~$1,000 to pay for rent and other life necessities. Many young
      people have a limited budget to pay for rent, which we hope you'll keep in mind when setting rent for your space.
      Anything you charge in above $1,000 will come out of their pocket. We're allowing hosts to set a maximum
      of $1,500 combined for rent and utilities.
    </dd>
  </dl>

  <dl class="c-faq-modal__entry">
    <dt class="c-faq-modal__question">
      Does my room have to be in San Francisco?
    </dt>
    <dd class="c-faq-modal__answer">
      Many young adults from San Francisco are employed and/or attending school outside of San Francisco. If you have a
      room available anywhere in the Bay Area, we'd love to hear from you!
      <a href="https://www.wearelaunchpads.org/contact" target="_blank" title="Contact us">Contact us</a>
    </dd>
  </dl>

  <dl class="c-faq-modal__entry">
    <dt class="c-faq-modal__question">
      Where can I learn more about the housing crisis and youth homelessness in the Bay Area?
    </dt>
    <dd class="c-faq-modal__answer">
      We created <a href="/launchpads-infographic.pdf" target="_blank" title="Infographic">this infographic</a>
      with a snapshot of the problem and how Launchpads is helping. You can also learn more from our partners –
      <a href="https://www.freedom-forward.org/" target="_blank" title="Freedom Forward">Freedom Forward</a> and
      <a href="https://tippingpoint.org/" target="_blank" title="Tipping Point">Tipping Point</a>.
    </dd>
  </dl>

  <div class="c-faq-modal__close">
    <a
      href="#"
      class="o-btn o-btn--round o-btn--primary"
      data-action="modal#close"
    >
      Close
    </a>
  </div>
</div>
