<section class="c-landing-share">
  <div class="c-grid">
    <div class="c-grid__inner">
      <div class="c-grid__cell c-grid__cell--span-8 c-landing-share__description">
        <%= image_pack_tag('media/images/share-space.jpg', class: 'c-landing-share__image') %>
        <h2 class="c-landing-share__heading">
          Share Your Space
        </h2>
        <p class="c-landing-share__paragraph">
          Launchpads is a platform for San Francisco youth in extended foster care (ages 18-21) to find suitable and
          affordable housing near their work, school, and community. We provide the structure and support to both
          young people and those renting their space, so that you can find the right match, on your terms.
          <br>
          <a href="#" title="#">Read why this matters</a>
        </p>
      </div>
      <div class="c-grid__cell c-landing-share__box c-landing-share__box--youth">
        <div class="c-landing-share__box-wrapper">
          <div class="c-landing-share__icon">
            <%= image_pack_tag('media/images/icons/profile-edit-icon.svg') %>
          </div>
          <h4 class="c-landing-share__box-heading">
            Find a room
          </h4>
          <p class="c-landing-share__box-paragraph">
            I am in extended foster care in San Francisco, looking for housing.
          </p>
          <div class="c-landing-share__box-button">
            <a href="#" class="o-btn o-btn--round o-btn--secondary">Get started</a>
          </div>
        </div>
      </div>
      <div class="c-grid__cell c-landing-share__box c-landing-share__box--host">
        <div class="c-landing-share__box-wrapper">
          <div class="c-landing-share__icon">
            <%= image_pack_tag('media/images/icons/host-icon.svg') %>
          </div>
          <h4 class="c-landing-share__box-heading">
            List a room
          </h4>
          <p class="c-landing-share__box-paragraph">
            I am a Bay Area resident with a spare room, or two :)
          </p>
          <div class="c-landing-share__box-button">
            <a href="#" class="o-btn o-btn--round o-btn--primary">Become a host</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
