<p>
  Hi <%= @user.first_name %>,
</p>
<p>
  You're all done with the approval process!  Youth can now view your listings.
  If a youth is interested, they'll reach out to you through the messaging platform on the Launchpads site and you'll be able to schedule a time to meet.
  If a youth messages you, you'll get a notification that you have a new message sent directly to this email address.
</p>
<p>
  As always, please do not hesitate to reach out to our program manager, Monica, with any questions.
  She can be reached at <a href="mailto:monica@freedom-forward.org">monica@freedom-forward.org</a>.
</p>
<p>
  So excited to have you as a part of our community!
</p>
