<p>
  Hi <%= @user.first_name %>,
</p>
<p>
  We've confirmed your status as a social worker with the Supportive Transitions Unit.
  <br>Now you can approve youth to use the Launchpads site, where they can connect with people who are willing to rent out space in their homes.
  <br>Log on now to approve any youth who have listed you as their social worker.
</p>
<p>
  As always, please do not hesitate to reach out to our program manager, Monica, with any questions.
  She can be reached at <a href="mailto:monica@freedom-forward.org">monica@freedom-forward.org</a>.
</p>
