Hi <%= @user.first_name %>,
<p>
  Your social worker has approved you to participate in Launchpads!
  This means you can use our website to connect with people who are willing to rent out space in their homes.
  <%= link_to 'Log-in', root_url %> to check out listings, message hosts, and find your next home.
  As always, please do not hesitate to reach out to our program manager, Monica, with any questions.
  She can be reached at <a href="mailto:monica@freedom-forward.org">monica@freedom-forward.org</a>.
</p>
<p>
  Let's get started!  We're thrilled to have you in our community!
</p>
