<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>You have the new survey to complete.</p>
    <p>Please fill up the youth survey.</p>

    <%= link_to 'Survey details', @url %>
    <p>
      Best regards
      <br>Launchpads Team
    </p>
  </body>
</html>
