<p>
  Woo-hoo! You completed your profile!
  Now you can create a listing, if you haven't already.
</p>
<p>
  There are three more steps before youth will be able to see your listing:
</p>
<ol>
  <li>Schedule an interview with one of our staff members.</li>
  <li>Complete our background check process. This includes filling out a form on Checkr, a third party background check service we use (we will send a link), and completing a LiveScan fingerprint at a LiveScan location near you.</li>
  <li>Send information for two references to one of our staff members.</li>
</ol>
<p>
  One of our staff members will be reaching out shortly to help you with these steps.
</p>
<p>
  The above items help ensure the safety of our youth. We recognize that the justice system in the United States does not treat people equally and because of this not all records will exclude someone from hosting with Launchpads. We are only concerned about past actions that might indicate a safety concern for our youth.
</p>
<p>
  If you have any questions about our vetting process or next steps please don’t hesitate to reach out to our Program Manager, Monica (<a href="mailto:monica@freedom-forward.org">monica@freedom-forward.org</a>).
</p>
<p>
  We're so excited for you to join the Launchpads community!
</p>
