<p>
  Thanks for creating an account with Launchpads.
  Launchpads is an online housing rental platform that connects youth in extended foster care with community members who are interested in renting to them.
  We hope this tool will help youth on your caseload!
</p>
<p>
  We're confirming your identity with our contacts at San Francisco’s Family and Children’s Services.
  Once we are able to confirm your status as a social worker in the Supportive Transitions Unit, we'll approve your account and you can approve youth on your caseload to use the Launchpads app.
</p>
<p>
  If you have any questions, don't hesitate to reach out to our Program Manager, Monica at <a href="mailto:monica@freedom-forward.org">monica@freedom-forward.org</a>.
</p>
