<p>
  Woo-hoo!  You've completed your profile in Launchpads!
</p>
<p>
  As a next step, we've reached out to your social worker to complete the verification process.
  You'll receive an email once your social worker verifies your eligibility for Launchpads.
  For now, feel free to browse available homes.
</p>
<p>
  If you have any questions, don't hesitate to reach out to our Program Manager, Monica, at <a href="mailto:monica@freedom-forward.org">monica@freedom-forward.org</a>.
</p>
<p>
  We're so excited for you to join the Launchpads community!
</p>
