<%= render(
        'partials/modal',
        open:        true,
        primary:     true,
        passive:     true,
        labelledby:  'form-sent-heading',
        describedby: 'form-sent-description'
    ) do %>
  <div class="c-form-completed">
    <div class="c-form-completed__icon">
      <%= image_pack_tag('media/images/icons/complete-inverted-icon.svg') %>
    </div>
    <h1 class="c-form-completed__heading" id="form-sent-heading">
      <% if @survey.user.approved? %>
        User was successfully approved
      <% else %>
        The user is pending on acceptance by admin.
      <% end %>
    </h1>
    <p class="c-form-completed__paragraph" id="form-sent-description">
      <%= @message %>
    </p>
    <div class="c-form-completed__button">
      <a
        href="<%= @continue_path %>"
        title="Continue"
        class="o-btn o-btn--round"
        data-turbolinks="false"
      >
        Okay
      </a>
    </div>
    <div class="c-form-completed__gloss">
      If this decision was made in error, please <a href="https://www.wearelaunchpads.org/contact" data-turbolinks="false">contact us</a>.
    </div>
  </div>
<% end %>
