$primary: #ac4dff;
$secondary: #1e0d3f;
$text: #3d3949;
$text-light: rgba($text, 0.7);
$border: #e5e5e5;
$heading: rgba($text, 0.3);
$shadow: 0 0 10px rgba(0, 0, 0, 0.2);
$shadow-medium: -2px -2px 10px rgba(0, 0, 0, 0.15);
$shadow-large: -4px 4px 10px rgba(0, 0, 0, 0.25);
$disabled: #a9a9a9;
$form-border: #c4c4c4;
$input-label: #524b4b;
$input-help: #7e7d7d;
$input-border: rgba($text, 0.5);
$primary-light: #f1e3ff;
$error: #ff0606;
$modal-overlay: rgba(119, 116, 128, 0.9);
$modal-background: #faf8f6;
$section-background: #faf7fd;
$modal-input-border-color: #c8b7a6;
$modal-input-text-color: #c8b7a6;
$listings-hero-icon-bg: rgba($form-border, 0.35);
$message-input-bg: rgba(#c4c4c4, 0.5);
