<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>Hi,</p>
    <p>There is a possibility of appearing inappropriate message content in a conversation.</p>
    <p>Please take a look and check it as soon as possible.</p>
    <p>The link to the conversation is below:</p>
    <%= link_to 'Conversation', @url %>
    <p>Best Regards</p>
    <p>Launchpads team</p>
  </body>
</html>
