@use '../tools' as *;
@use '../utilities' as *;

.c-form-field {
  align-self: end;

  @include grid-cell-span(phone, 4);
  @include grid-cell-span(tablet, 4);
  @include grid-cell-span(desktop, 6);
  @include grid-cell-span(full, 6);

  &--wide {
    @include grid-cell-span(phone, 4);
    @include grid-cell-span(tablet, 8);
    @include grid-cell-span(desktop, 12);
    @include grid-cell-span(full, 12);
  }
}

.c-form-field__label {
  --font-size: 16px;
  --font-weight: 300;
  --line-height: 24px;
  @include theme-prop(--color, input-label);

  @include bp-min(desktop) {
    --font-size: 20px;
    --line-height: 25px;
  }

  font: {
    size: var(--font-size);
    weight: var(--font-weight);
  }
  line-height: var(--line-height);
  color: var(--color);

  @include bp-min(desktop) {
    margin-bottom: 5px;
  }

  .has-errors & {
    @include theme-prop(color, error);
  }

  &--checkbox {
    user-select: none;

    input {
      opacity: 0;
      position: absolute;
    }

    > span {
      display: flex;
      align-items: center;
    }

    > span::before {
      content: '';
      display: inline-block;
      flex: 0 0 auto;
      margin-right: 14px;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      border: 1px solid;
      @include theme-prop(color, primary);
      border-radius: 3px;
      background-color: white;
    }

    input:checked + span {
      &::before {
        content: url('../images/icons/checkmark.svg');
        line-height: 15px;
        text-align: center;
        @include theme-prop(background-color, primary);
      }
    }

    input:focus + span {
      @include focus-add;
    }
  }
}

.c-form-field__help-text {
  font: {
    size: 16px;
    weight: 300;
  }
  line-height: 24px;
  @include theme-prop(color, input-help);

  &--error-message {
    display: none;
    @include theme-prop(color, error);

    .has-errors & {
      display: block;
    }
  }
}

.c-form-field__input {
  @include theme-prop(--input-text-color, secondary);
  @include theme-prop(--input-border-color, input-border);

  width: 100%;
  height: 48px;
  border: 1px solid;
  border-color: var(--input-border-color);
  border-radius: 5px;
  color: var(--input-text-color);

  .has-errors & {
    @include theme-prop(--input-text-color, error);
    @include theme-prop(--input-border-color, error);
  }

  input,
  select {
    padding: 12px 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    appearance: none;
    border: none;
    background: transparent;
    font: {
      size: 16px;
      weight: 300;
    }

    @include bp-min(tablet) {
      font-size: 20px;
      line-height: 25px;
    }

    &:focus {
      @include focus-reset;
    }
  }

  &:focus-within {
    @include focus-add;
  }

  &--plain {
    @include theme-prop(--input-border-color, primary);

    border-width: 0 0 1px 0;
    border-radius: 0;

    input,
    select {
      padding-left: 0;
      padding-right: 0;
    }

    @include bp-only(phone) {
      margin-top: -25px;

      .c-form-field__label + & {
        margin-top: 0;
      }
    }
  }

  &--textarea {
    height: 130px;
    border: none;

    textarea {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid;
      @include theme-prop(border-color, input-border);
      border-radius: inherit;
      font: {
        size: 16px;
        weight: 300;
      }

      @include bp-min(tablet) {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }

  &--social {
    .c-form-field__label + & {
      margin-top: 25px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    margin-left: 44px;
    max-width: calc(100% - 44px);
    position: relative;
  }

  &--datepicker {
    position: relative;

    input {
      cursor: text;

      &.in-edit {
        border: none;
        box-shadow: none;
      }
    }
  }

  &--currency {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    input {
      padding-left: 0;
      width: calc(100% - 25px);
    }

    &::before {
      content: '$';
      display: inline-block;
      width: 20px;
      text-align: right;
    }
  }

  &--checkbox {
    --input-border-color: transparent;
    display: flex;
    align-items: center;

    input {
      width: auto;
      height: auto;
    }

    &:focus-within {
      @include focus-reset;
    }
  }

  @include bp-min(desktop) {
    margin-top: 5px;
  }
}

.c-form-field__input-picker {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  width: 48px;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  @include theme-prop(background-color, primary);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  cursor: pointer;

  .disabled & {
    @include theme-prop(background-color, disabled);
    cursor: not-allowed;
  }
}

.c-form-field__add-row {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 21px;

  &,
  &:hover {
    text-decoration: none;
  }

  @include bp-min(tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  &::before {
    content: '+';
    display: inline-block;
    margin-right: 11px;
  }
}
